<div class="box-border px-5 py-12 text-gray-800 bg-white xl:my-0">
  <div class="flex flex-wrap items-center justify-center mx-auto md:flex-wrap lg:justify-between max-w-7xl">
    <div class="box-border icon-wrapper">
      <img src="/assets/angular-grey.svg" class="icon" alt="Angular">
    </div>
    <div class="box-border icon-wrapper">
      <img src="/assets/javascript-grey.svg" class="icon" alt="JavaScript">
    </div>
    <div class="box-border icon-wrapper">
      <img src="/assets/php-grey.svg" class="icon" alt="PHP">
    </div>
    <div class="box-border icon-wrapper">
      <img src="/assets/mysql-svgrepo-com.svg" class="icon" alt="MySQL">
    </div>
    <div class="box-border icon-wrapper">
      <img src="/assets/bootstrap.svg" class="icon" alt="Bootstrap">
    </div>
  </div>
</div>
