/* styles.css */
.icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon {
  width: auto;
  height: 80px; /* Ajuste a altura conforme necessário */
  transition: transform 0.3s ease, filter 0.3s ease;
}

.icon-wrapper:hover .icon {
  transform: scale(1.1); /* Aumenta o tamanho do ícone */
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2)); /* Adiciona uma sombra suave */
}
