<ol class="relative border-s border-gray-200 dark:border-gray-700" style="margin-left: 10rem;">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
    </div>
    <time class="mb-1 text-xs font-normal leading-none text-gray-500 dark:text-gray-500">February 2022 - Present</time>
    <h3 class="text-sm font-semibold text-gray-900 dark:text-white">Analista de qualidade de software</h3>
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Get access to over 20+ pages including a
      dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.</p>
  </li>
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
    </div>
    <time class="mb-1 text-xs font-normal leading-none text-gray-400 dark:text-gray-500">March 2022 - April 2022</time>
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Desenvolvedor Full-Stack</h3>
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">All of the pages and components are first designed
      in Figma and we keep a parity between the two versions even as we update the project.</p>
  </li>
  <li class="ms-4 mb-20">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
    </div>
    <time class="mb-1 text-xs font-normal leading-none text-gray-400 dark:text-gray-500">April 2022 - April 2022 - </time>
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Analista de homologação</h3>
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">Get started with dozens of web components and
      interactive elements built on top of Tailwind CSS.</p>
  </li>
</ol>
