<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Experiências Adquiridas</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">Conheça um pouco mais da minha trajetória na área da técnologia.
      </p>
    </div>
    <div
      class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-gray-500">Fev, 2024 - Present</time>
          <a href="#"
            class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Selbetti
            S.a</a>
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a href="#">
              <span class="absolute inset-0"></span>
              Analista de Qualidade de Software
            </a>
          </h3>
          <p class="mt-5  text-sm leading-6 text-gray-600">Estamos em processo de criação de um sistema ERP,
            que está sendo desenvolvido a partir da base do sistema legado da empresa. Além disso, estamos dedicando
            esforços à manutenção dos sistemas legados em PHP. Nossas abordagens incluem a implementação de clean code e
            a adoção de uma estrutura MVC. Para garantir um desenvolvimento ágil, estamos seguindo a metodologia SCRUM,
            utilizando ferramentas como o Trello e o Projects do GitHub.</p>
        </div>
      </article>

      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-gray-500">Ago, 2023 - Jan, 2024</time>
          <a href="#"
            class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Freeline
            Sistemas</a>
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a href="#">
              <span class="absolute inset-0"></span>
              Desenvolvedor Full-Stack
            </a>
          </h3>
          <p class="mt-5  text-sm leading-6 text-gray-600">Durante minha experiência na Freeline estavamos em processo
            de criação de um sistema ERP,
            que está sendo desenvolvido a partir da base do sistema legado da empresa. Nossas abordagens incluem a
            implementação de clean code e
            a adoção de uma estrutura MVC. Para garantir um desenvolvimento ágil, estamos seguindo a metodologia SCRUM,
            utilizando ferramentas como o Trello e o Projects do GitHub e abrangendo a parte das técnologias
            utilizavamos PHP, JQuery, Bootstrap e MySql.</p>
        </div>
      </article>

      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-gray-500">Set, 2021 - Mar, 2023</time>
          <a href="#"
            class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Quatenus
            Rastreamento e Telemetria</a>
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a href="#">
              <span class="absolute inset-0"></span>
              Analista de Homologação
            </a>
          </h3>
          <p class="mt-5 text-sm  text-gray-600">A minha jornada na Quatenus começou com apenas um estágio,
            onde realizava a manutenção dos equipamentos de rastreamento, bem como sua limpeza, recall e reparos
            básicos. Além disso, prestava suporte aos técnicos que estavam em campo para instalar os equipamentos nos
            veículos de clientes. Posteriormente, recebi uma promoção para assistente técnico, onde realizava as mesmas
            atividades anteriores, porém comecei a gerenciar os dados de cada operadora que eram inseridos no
            rastreador. Mais tarde, recebi outra promoção e comecei a gerenciar os dados dos chips, bem como a realizar
            toda a documentação dos equipamentos e do software existente na empresa.</p>
        </div>
      </article>
      <!-- More posts... -->
    </div>
  </div>
</div>
