<div class="bg-gray-100">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
      <h5 class="text-2xl font-bold text-gray-900">Projetos</h5>

      <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="assets/carBlue.png" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="h-full w-full object-cover object-center">
          </div>
          <p class="mt-2 text-sm text-gray-500">
            <a href="#">
              <span class="absolute inset-0"></span>
              Projeto criado com Java
            </a>
            </p>
          <p class="text-base font-semibold text-gray-900">Fábrica de Carros</p>
          <span class="inline-flex items-center rounded-md bg-green-50 px-1 py-1 text-xs font-small text-green-500 ring-1 ring-inset ring-green-600/20">FINALIZADO</span>
        </div>
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="assets/city.png" alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant." class="h-full w-full object-cover object-center">
          </div>
          <p class="mt-6 text-sm text-gray-500">
            <a href="#">
              <span class="absolute inset-0"></span>
              Projeto criado com Php
            </a>
          </p>
          <p class="text-base font-semibold text-gray-900">Sistema de estoque</p><span class="inline-flex items-center rounded-md bg-green-50 px-1 py-1 text-xs font-small text-green-500 ring-1 ring-inset ring-green-600/20">FINALIZADO</span>
        </div>
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="assets/robot.png" alt="Collection of four insulated travel bottles on wooden shelf." class="h-full w-full object-cover object-center">
          </div>
          <p class="mt-6 text-sm text-gray-500">
            <a href="#">
              <span class="absolute inset-0"></span>
              Projeto criado com selenium
            </a>
          </p>
          <p class="text-base font-semibold text-gray-900">Estudos automatizados</p>
          <span class="inline-flex items-center rounded-md bg-green-50 px-1 py-1 text-xs font-small text-green-500 ring-1 ring-inset ring-green-600/20">FINALIZADO</span>
        </div>
      </div>
    </div>
  </div>
</div>
